
       a{
	      text-decoration:none;
	    }
	 a:hover{
	           text-decoration:underline;
		       color:green;
			}
	 .memb li{
	          background:green;
              margin:10px;padding:5px;width:120px;
              border:1px solid red;border-radius:20px;}
   
     #i1{
	         box-shadow:10px 10px 10px green;border-radius:1600px 1430px 250px 140px;
	    }
     #i2{
	       text-shadow:2px 2px 3px #c00,4px 4px 3px red,-2px -2px 3px #c00,4px 4px 3px red,4px 4px 3px red;
	 }
 	 
	 