<head>
      <title> Album </title>
  </head>
  /* internal stylesheet
  <style>
         a{
	      text-decoration:none;
	    }
	 a:hover{
	           text-decoration:underline;
		       color:green;
			} 
  </style> */
  
  
  /*external stylesheet */
   <link rel=stylesheet href="albumstyle.css">
  <body>
  
	   <h2 align=center><img src=red.jpg id=i1 align=center width=750 height=300></h2>
    
	   <h2 align=center><font color=red>Colours of Nature</font></h2>
	   <h2 align=center><a href="http://www.drakeofficial.com">Drake!</a></h2>
       <h2 align=center><font style="font-size:20px; font-style:italic;background-color:red"> Release Date- March 31<sup>st</sup>,16</font></h2>
	   <hr align=center color=black width=100% size=5>
	    /*inline style on release date*/
		
	   <h3 align=center><font color=red>Band Members and Producers</font></h3>
	   
	   <ul class=memb>
         <li>Weriana-<i>Guitar</i></li>
         <li>Josh-<i>Bass Drum</i></li>
         <li>Timber-<i>Flute</i></li>
		 <li>Daniel-<i>Producer</i></li>
       </ul> 
	   
	   <h3 align=center ><font color=red>Tracks</font></h3>
       <table align=center border=4 height=50% width=70%>
	   <tr>
          <th>Title#</th>
          <th>Track title</th>
          <th>Track length</th>
       </tr> 
       <tr  align=center height=20% width=10%>
         <td id=i2>1</td>
          <td>Started from the bottom</td>
           <td>2:24</td>
       </tr>
       <tr align=center>
         <td id=i2>2</td>
          <td>Energy</td>
           <td>2:46</td>
       </tr>
       <tr align=center>
          <td id=i2>3</td>
          <td>Take care</td>
          <td>2:87</td>
       </tr>
</table>
	   
       

   </body>
</html>