<head>
      <title> R_contact </title>
  </head>
  
 
  <link rel=stylesheet href="restaurantStyles.css">
  <body>
  <style>
     a{
	    text-decoration:none;
	 }
	 a:hover{
	     text-decoration:underline;
		 color:red;}
     #i1{
	     font-size:20px;color:red;font-style:italic;
	 }
	 
  </style>
  
	   <div id=header>
	       Burwich
	   </div><br>
	   <hr align=center color=black width=100% size=1><br>
		
	   <a href="restaurant_v2.html">Home</a>&nbsp&nbsp<a href="r_menu_v2.html">Menu</a>&nbsp&nbsp<a href="r_contact_v2.html">Contact US</a><br><br>
	   <hr align=center color=black width=100% size=1>
	   
   <form action="r_contact.html" method="POST">
   <table width="800" >
      <tr><td align=right id=i1>Name:</td>
	      <td><input type=text size=20 name=textinput></td>
	  </tr>
      <tr><td align=right id=i1>Email:</td>
	      <td><input type=text size=20 name=textinput></td>
      </tr>
      <tr><td align=right id=i1>Phone:</td>
	      <td><input type=text size=20 name=textinput></td>
      </tr> 
	  
      <tr><td align=right id=i1>Reason for Inquiry</td><td><select name=reason>
	                           <option value="Catering">Catering</option>
                               <option value="Private Party">Private Party</option>
							   <option value="Feedback">Feedback</option>
                               <option value="Other">Other</option></select></td></tr> 
      
      <tr><td align=right id=i1>Additional Information</td>
	       <td><textarea name=area rows=10 cols=28></textarea></td>
	  </tr>  
	  
	  <tr><td align=right id=i1>Have you been to the reataurant?</td>
	      <td><input type=radio name=yesno value=no>No
          <input type=radio name=yesno value=Yes>Yes</td></tr>
		  
      <tr><td align=right id=i1>Best days to contact you : </td>
	      <td><input type=checkbox name=check value=m>M
	         <input type=checkbox name=check value=t>T
		     <input type=checkbox name=check value=w>W
		     <input type=checkbox name=check value=th>Th
	         <input type=checkbox name=check value=f>F</td>
	  </tr> <br>	  
   
      <tr><td></td><td align=left><input type=submit name=send value="Send Request"></td></tr>  
     </table>
</form>
     <hr align=center color=black width=100% size=1>
	   
	 <div id=footer>
	                   Ohio,44144<br>
	                    216-444-6666 
	   </div>
</body>

</html>